*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to top, #1c243b, #302f37);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  height: 100%;
}

.container p {
  color: #bdbdbd;
  line-height: 1.5;
}
